:root {
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */
}

html {
  color: wheat;
}
body {
  background-color: #1c1c1c;
  margin: 0;
}
a {
  color: wheat;
}
h2 {
  font-family: "Goonies", sans-serif;
  font-size: 3.25rem;
}
footer {
  text-align: center;
  margin-top: 4rem;
  padding: 1rem;
}
footer p{
  margin: 0;
}
blockquote {
  font-size: 1.2rem;
}
.container {
  max-width: var(--screen-lg);
  margin: 0 auto;
}

.nav {
  padding-top: 2rem;
}
.nav-brand {
  font-family: "Goonies", sans-serif;
  font-size: 5rem;
  text-align: center;
  margin-top: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  font-family: Karla;
  font-size: var(--text-xl);
  font-weight: 700;
}
.nav-link {
  text-decoration: none;
  margin-bottom: 2rem;
  padding-bottom: 0.4rem;
  border-bottom: solid 2px wheat;
  transition: 0.2s;
  font-size: var(--text-xl);
}
.nav-link:hover {
  color: rgb(189, 158, 101);
  font-size: var(--text-2xl);
}
.main {
  text-align: center;
  font-family: Karla;
  font-size: var(--text-2xl);
}
.mission {
  padding: 2rem;
  min-height: 240px;
  display: block;
  position: relative;
}
.mission::after {
  content: "";
  opacity: 0.4;
  background-image: url("img/astoria.jpg");
  background-size: cover;
  background-position: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.work {
  display: flex;
  flex-direction: column;
}
.work-project {
  flex: 1;
  margin-top: 1rem;
}
.work-project p {
  font-size: var(--text-xl);
}
.work img {
  width: 300px;
  height: auto;
  transition: 0.2s ease-in-out;
  border-radius: 0.5rem;
  
}
.work img:hover{
 transform: scale(1.03);
 box-shadow:3px 3px 9px 5px rgba(0, 0, 0, 0.3);;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.team-card {
  display: flex;
  flex: 1;
  font-family: karla;
  min-height: 312px;
  margin: 0.5rem ;
}
.flip-card {
  background-color: transparent;
  width: 250px;
  height: auto;
  perspective: 1000px;
  margin: 0 auto;
}
.flip-card-inner {
  position: relative;
  width: auto;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #1c1c1c;
 
}
.flip-card-front {
  color: black;
}
.flip-card-back {
  
  color: wheat;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
}
.flip-card-back h2 {
  font-family: goonies;
}
.team img {
  width: 250px;
  border-radius: 0.75rem;
}
.contact{
  font-size:var(--text-lg) ;
  margin-top: 4rem;
}
@media only screen and (min-width: 1024px) {
  .work{
    flex-direction: row;
  }
  .team {
    flex-direction: row;
  }
}
